body {
  --base-font-family: -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue,
    Roboto, sans-serif;
  --base-header-height: 64px;
  --base-margin-outter: 25px;
  --base-margin-inner: 10px;

  --base-title-text-color: #1d1d1d;
  // 正文文字
  --base-body-text-color: #343741;
  // 输入框线
  --base-border-color: #e1e1eb;

  // 主题色
  --base-primary-color: #00b173;

  // 成功颜色
  --base-success-color: #00b173;
  // 警告颜色
  --base-warning-color: #fb9237;
  // 错误颜色
  --base-error-color: #e34242;
  // 提示颜色
  --base-info-color: #7a7b80;

  --base-header-bg-color: #fff;

  --base-left-slider-width: 220px;

  --base-content-bg-color: #fef9fe;


}
